<section>
	<p><b>Press Start to start a game!</b><p>
	<p>Number of games played : <%= $games%></p>
	<p>Number of games won by player 1 : <%= $wins1%></p>
	<p>Number of games won by player 2 : <%= $wins2%></p>
	<p>Numbers of draws : <%= $draws%></p>
</section>