<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link href="/style.css" rel="stylesheet">
		<title>Tik Tak Toe | The Game</title>
	</head>
		<body>
	<div id="page_block">
		<header>
			<div id="title1">
				<h1>Noughts and Crosses</h1>
				<h2>The old school game!</h2>
			</div>
			<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/start" id="home_button">Start</a></li>
						<li><a href="/about">About</a></li>
					</ul>
			</nav>
		</header>
		<div id="content">
			<%= yield %>
		</div>
		<footer>
			<p>[Copyright 2014 : Arjun B. Gupta ID: 51443400]</p>
		</footer>
	</div>
	</body>
</html>