<div class="login_box">
	<h1><u>Login</u></h1><br>
		Please login.
		<form action="/login" method="post">  
			Username:<input type="text" name="username"><br>
			Password: <input type="password" name="password"><br>
			<input type="submit" value="Login!">  
		</form>  
	<p>You don't have an acount? Create it Now! Just click <a href="/createaccount">Here!</a> It will take less than a minute.</p>
</div>