<body>
	<div id="image_banner">
		<div id="banner_description">
			Get your own saxophone at our partner : Sax.co.uk !
			<a href="http://www.sax.co.uk" class="red_button" target="_blank">Buy Now! <img src="../tools/whitearrow.png" alt=""/></a>
		</div>
	</div>
	
	<section>
		<article>
			<h3>A brief history of the saxophone</h3>
				<p>The saxophone is named after Adolphe SAX who invented it around 1840. 
				It is a wind instrument with a conical bore. 
				Although made of brass, the saxophone belongs nonetheless to the 
				woodwind family because it has a simple reed, like the clarinet.</p>
				<p>The saxophone is a transposing instrument, like the clarinet or the cor anglais, 
				i.e. the written note is different from the actual sounding pitch.</p>
				<p>Hectore BERLIOZ was the first composer to use the saxophone in concert on February 3rd, 1844. 
				Some time later, the instrument was adopted in military bands.</p>
				<p>Great classical composer wrote for the saxophone: G. Bizet, C. Debussy, M. Ravel, 
				S.Prokofiev, D. Milhaud, among others. And let us not forget the essential role the instrument 
				plays in jazz and all kind of popular music.</p>
		
			<h3>The saxophone family</h3>
				<p>The saxophone family consists of seven members of graduated size : sopranino, 
				soprano, alto, tenor, baritone, bass, double-bass.</p>
				<p>All saxophones share the same fingering system. Saxophone parts are written in violin clef. 
				The four instruments most commonly used - the so-called "saxophone quartet" - are 
				the soprano, alto, tenor and baritone.</p>
		</article>
		<aside>
			<h1 id="aside_title"><u>Discovery of the Week</u></h1>
			<img src="images/arrow.png" alt="" id="aside_arrow" />
			<p id="photo_brian"><img src="images/briansthing.jpg" alt="" /></p>
			<p>This week's discovery is a saxophone player that goes under the name of <b>Brians Thing</b>.</p>
			<p>This player has been discovered mainly thanks to his Youtube channel, where he performs song covers, personal jams, and other. He plays a variety of saxophones, but mainly the alto, soprano, and tenor sax.</p>
			<p><a href="https://www.facebook.com/BriansThing" target="_blank"><img src="images/facebook.png" alt="Facebook" /><a><a href="https://www.youtube.com/user/BriansThing" target="_blank"><img src="images/youtube.png" alt="YouTube" /><a><a href="https://twitter.com/BriansThing" target="_blank"><img src="images/twitter.png" alt="Twitter" /><a></p>
		</aside>
	</section>
	
</body>